body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

section {
    margin: 30px;
}

img {
    width: 300px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}